<div class="container">

  <% if current_user %>
    <%= erb :_users %>
  <% else %>
    WELCOME
  <% end %>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
  </div>
