<div class="container">

  <% if current_user %>
    <%= erb :_users %>
  <% else %>
    WELCOME
  <% end %>

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>
  </div>
